h1 {
  font-weight: 600;
  margin-bottom: 25px;
}

form {
  margin: 40px 40px 0 40px;
}

.content {
  color: #455a64;
  margin: 80px auto 10px auto;
  max-width: 800px;
  height: auto;
  padding: 0;
  text-align: center;
}

.wrapper {
  border: 1px solid #455a64;
  border-radius: 5px;
  box-sizing: border-box;
}

.row {
  margin: 0;
}

.left-section {
  padding: 0;
  margin: 60px auto 40px auto;
}

.main-date {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.main-time {
  font-size: 16px;
  color: #455a64;
  margin: 0;
}

.weather-icon {
  margin: 10px;
}

.temperature-display {
  font-size: 32px;
  font-weight: 600;
  padding: 0;
}

.units-display {
  font-size: 16px;
  font-weight: 500;
  padding: 0;
  position: relative;
  top: -12px;
}

.active {
  color: #455a64;
  cursor: default;
}

.active:hover {
  color: #455a64;
  text-decoration: none;
}

.main-weather-summary {
  font-size: 18px;
  font-weight: 500;
  padding: 0;
  text-transform: capitalize;
  margin-bottom: 25px;
}

.main-weather-description {
  font-weight: 450;
}

.no-position-found {
  color: rgb(236, 110, 76);
  font-size: 14px;
  margin-top: 24px;
}

.main-details {
  padding: 20px;
  margin: 10px 0;
  text-align: left;
}

.right-section {
  padding: 0;
  margin: 0;
}

.following-day {
  height: 20%;
  margin: 0;
  background: #ffd9688a;
  color: #455a64;
}

.repository-link {
  display: block;
  margin: 5px auto;
  text-align: left;
}

.color-day-clear {
  background-color: rgba(255, 233, 226, 0.5);
}

.color-day-clouds {
  background-color: rgba(216, 199, 193, 0.55);
}

.color-day-rain {
  background-color: rgba(203, 174, 166, 0.4);
}

.color-day-mist-snow {
  background-color: rgba(225, 215, 212, 0.5);
}

.color-night-clear {
  background-color: rgba(193, 206, 219, 0.5);
}

.color-night-clouds {
  background-color: rgba(136, 148, 161, 0.35);
}

.color-night-rain {
  background-color: rgba(118, 151, 188, 0.2);
}

.color-night-mist-snow {
  background-color: rgba(212, 221, 231, 0.7);
}
